body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #09a330;
  height: 120px;
  width: 100%;
  background: white;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 30px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-right: 10px;
  animation: latir infinite 5s linear;
}

@keyframes latir {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.02, 1.02);
  }

  55% {
    transform: scale(0.95, 0.95);
  }

  100% {
    transform: rotate(1, 1);
  }
}

.center {
  width: 75%;
  margin: 0 auto;
}

#brand {
  display: block;
  margin: 0;
  float: left;
  line-height: 60px;
}

#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li {
  list-style: none;
  height: 46px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: #f13e3e;
}

.clearfix {
  clear: both;
  float: none;
}

#slider {
  width: 100%;
  background: rgba(130,194,81,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(130,194,81,1) 0%, rgba(8,145,42,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(130,194,81,1)), color-stop(100%, rgba(8,145,42,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(130,194,81,1) 0%, rgba(8,145,42,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(130,194,81,1) 0%, rgba(8,145,42,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(130,194,81,1) 0%, rgba(8,145,42,1) 100%);
  background: radial-gradient(ellipse at center, rgba(130,194,81,1) 0%, rgba(8,145,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c251', endColorstr='#08912a', GradientType=1 );
  height: 350px;
  /* line-height: 320px; */
  color: white;
  text-shadow: 0px 0px 5px #444;
}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 130px;
  text-align: center;
}

.btn-white {
  color: rgb(88, 88, 88);
  display: block;
  background: white;
  padding: 10px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgba(88, 88, 88);
  margin-top: 40px;
  border-radius: 4px;
  transition: 300ms all;
}

.btn-white:hover {
  background-color: #444;
  color: white;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 53px;
  text-align: center;
}

#content {
  width: 70%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
}

#sidebar {
  width: 25%;
  float: left;
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #eee;
}

.sidebar-item .btn {
  margin-top: 10px;
  margin: 0px auto;
}

.btn {
  display: block;
  max-width: 120px;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  transition: 300ms all;
  border: none;
  cursor: pointer;
}

.btn-success {
  background: green;
}

.btn-success:hover {
  background: black;
}

.mid-form {
  width: 50%;
  margin: 0 auto;
}

.mid-form label {
  text-align: left;
  display: block;
  float: left;
  margin-bottom: 5px;
  font-size: 17px;
  margin-top: 10px;
}

input[type='text'],
textarea {
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 10px;
  transition: 300ms all;
  outline: none;
}

input[type='text']:focus,
textarea:focus {
  box-shadow: 0px 0px 5px #444 inset;
}

textarea {
  width: 100%;
  height: 150px;
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 150px;
}

.radibuttons {
  margin-top: 10px;
  float: left;
  margin-bottom: 10px;
}

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img {
  height: 100%;
  text-align: center;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}

.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover {
  text-decoration: underline;
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.article-detail .image-wrap {
  float: none;
  width: 100%;
  height: 500px;
}

.article-detail .image-wrap img {
  width: 100%;
  height: auto;
}

.article-detail .subheader {
  margin-bottom: 5px;
  border: none;
  margin-top: 15px;
  margin-bottom: 0;
}

/* Responsive */

@media screen and (max-width: 1488px) {
  .center {
    width: 85%;
  }
}

@media screen and (max-width: 1314px) {
  .center {
    width: 95%;
  }

  #menu ul {
    width: auto;
  }
}

@media screen and (max-width: 881px) {
  #logo {
    float: none;
    width: 265px;   
  }

  #menu {
    width: auto;
  }
}

@media screen and (max-width: 813px) {
  #logo {
    float: none;
    /* width: 240px; */
    margin: 0 auto;
    margin-top: 20px;
  }

  #menu,
  #menu ul {
    float: none;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 40px;
  }

  #content {
    float: none;
    width: 100%;
  }

  #sidebar {
    float: none;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #sidebar h1 {
    padding-top: 115px;
    font-size: 25px;
  }

  .mid-form {
    width: 70%;
  }
}

@media screen and (max-width: 495px) {
  #header {
    min-height: 130px;
    overflow: hidden;
  }

  #menu,
  #menu ul {
    line-height: 50px;
  }

  #menu,
  #menu ul li {
    margin-left: 7px;
    margin-right: 7px;
  }

  #slider {
    height: 180px;
  }

  #slider h1 {
    font-size: 19px;
    padding-top: 30px;
  }

  #slider .btn-white {
    margin-top: 20px;
  }

  #slider.slider-small {
    height: 100px;
  }

  #slider.slider-small h1 {
    padding-top: 35px;
  }
}
